*{
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #be2121;
}

.container .color{
    background-color: #14e378;
    text-align: center;
    margin: 13px;
    padding: 7px;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 10px 20px rgba(52, 87, 220, 0.08);
}
.container .color:active{
    transform: scale(0.95)
}
.color:hover .rect-box{
    filter: brightness(106%)
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color .rect-box{
    width: 185px;
    height: 188px;
    background-color:  #8a6cff ;

}
.color .hex-value{
 display: block;
 color: #444;
 margin: 12px 0 8px;
 font-size: 1.15rem;
 font-weight: 500;
 text-transform: uppercase;

}

li{
    list-style: none;
}
.refresh-btn{
    outline: none;
    padding: 12px 20px;
    position: fixed;
    left: 50%;
    bottom: 40px;
    color: #fff;
    background: #8a6cff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    transform: translateX(-50%);
    box-shadow: 0 15px 25px rgba(52, 87, 220, 0.2);
}

